.setting {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.logout-link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.logout-link i.material-icons {
    margin-right: 5px;
    font-size: 24px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.profilePic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.profilePic img {
    margin-right: 20px;
    border-radius: 100%;
    width: 70px;
}

.profileName p {
    font-size: 17px;
    color: #f5f5f5;
}

.save {
    display: flex;
    justify-content: flex-end;
}

.save-btn {
    width: 227px;
    height: 48px;
    font-family: "Raleway", sans-serif;
    background-color: #FFA621;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2rem;
}

.button-group {
    display: flex;
    margin-top: 2rem;
}

.delete-btn {
    font-family: "Raleway", sans-serif;
    background-color: transparent;
    color: #ee1111;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 25px;
}

.delete-btn:hover {
    color: white;
}

.form-group {
    margin-bottom: 30px;
}

input[type="text"], input[type="email"] {
    width: 400px;
    padding: 8px;
    height: 42px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #FFA621;
    outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.forms {
    margin-top: 30px;
}

/*
.setting {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.logout-link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.logout-link i.material-icons {
    margin-right: 5px;
    font-size: 24px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profilePic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.profilePic img {
    margin-right: 20px;
    border-radius: 100%;
    width: 70px;
}

.profileName p {
    font-size: 17px;
    color: #f5f5f5;
}

.save {
    display: flex;
    justify-content: flex-end;
}

.save-btn {
    width: 227px;
    height: 48px;
    font-family: "Raleway", sans-serif;
    background-color: #FFA621;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2rem;
}

.button-group {
    display: flex;
    margin-top: 2rem;
}

.delete-btn {
    font-family: "Raleway", sans-serif;
    background-color: transparent;
    color: #ee1111;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 25px;
}

.delete-btn:hover {
    color: white;
}

.profileName p {
    font-size: 17px;
    color: #f5f5f5;
}

.form-group {
    margin-bottom: 30px;
}

input[type="text"], input[type="email"] {
    width: 400px;
    padding: 8px;
    height: 42px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #FFA621;
    outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.forms {
    margin-top: 30px;
}
*/
